body{

    margin:0;
    padding:0;

    background:#061133;

    font-family:Arial;

    color:white;

}

.container{

    width:98%;
    margin:auto;

    text-align:center;

}

h1{

    color:#00ffee;

    margin-top:20px;

}

.dashboard{

    display:flex;

    justify-content:center;

    align-items:flex-start;

    gap:30px;

    flex-wrap:wrap;

}

/* CAMERA */

.camera-box{

    position:relative;

    width:960px;

    height:720px;

}

/* VIDEO */

#webcam{

    position:absolute;

    top:0;
    left:0;

    width:960px;
    height:720px;

    object-fit:cover;

    border-radius:20px;

    border:4px solid #00ffee;

    box-shadow:0 0 30px #00ffee;

}

/* OVERLAY */

#overlay{

    position:absolute;

    top:0;
    left:0;

    width:960px;
    height:720px;

    pointer-events:none;

}

/* SIDE PANEL */

.side-panel{

    width:300px;

}

/* CARDS */

.card{

    background:#1d2942;

    padding:20px;

    border-radius:20px;

    margin-bottom:20px;

    box-shadow:0 0 15px #00ffee55;

}

.card h2{

    color:#00ffee;

}

/* INPUT */

input{

    width:80%;

    padding:10px;

    border:none;

    border-radius:10px;

}

/* BUTTON */

button{

    padding:10px 20px;

    border:none;

    border-radius:10px;

    background:#00ffee;

    font-weight:bold;

    cursor:pointer;

}

button:hover{

    background:#00ccbb;

}

/* LETTER */

.vision-letter{

    font-size:70px;

    color:#00ffee;

}

/* PLATE */

.plate{

    width:240px;

    border-radius:15px;

}