<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>VisionGuard AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<div class="container">

    <h1>👁️ VisionGuard AI</h1>

    <div class="dashboard">

        <!-- CAMERA -->

        <div class="camera-box">

            <video
                id="webcam"
                autoplay
                playsinline
                muted
            ></video>

            <canvas id="overlay"></canvas>

        </div>

        <!-- SIDE PANEL -->

        <div class="side-panel">

            <!-- STATUS -->

            <div class="card">

                <h2>AI Status</h2>

                <p id="statusText">

                    🟢 AI Running

                </p>

            </div>

            <!-- ANALYTICS -->

            <div class="card">

                <h2>Live Analytics</h2>

                <p>
                    Blinks:
                    <span id="blinkCount">0</span>
                </p>

                <p>
                    Attention:
                    <span id="attentionScore">100</span>%
                </p>

                <p>
                    Screen Time:
                    <span id="screenTime">0</span>s
                </p>

                <p>
                    Distance:
                    <span id="distanceText">Normal</span>
                </p>

                <p>
                    FPS:
                    <span id="fps">0</span>
                </p>

                <p>
                    Room Light:
                    <span id="lightStatus">Normal</span>
                </p>

            </div>

            <!-- EYE STRAIN -->

            <div class="card">

                <h2>Eye Strain</h2>

                <p id="strainText">

                    ✅ Eyes Normal

                </p>

            </div>

            <!-- BLINK GRAPH -->

            <div class="card">

                <h2>Blink Analytics</h2>

                <canvas id="blinkChart"></canvas>

            </div>

            <!-- ATTENTION GRAPH -->

            <div class="card">

                <h2>Attention Analytics</h2>

                <canvas id="attentionChart"></canvas>

            </div>

            <!-- FPS GRAPH -->

            <div class="card">

                <h2>Performance Analytics</h2>

                <canvas id="fpsChart"></canvas>

            </div>

            <!-- VISION TEST -->

            <div class="card">

                <h2>Vision Test</h2>

                <h1 class="vision-letter">

                    {{ current_letter }}

                </h1>

                <form action="/vision_test"
                      method="POST">

                    <input
                        type="text"
                        name="answer"
                        maxlength="1"
                        required
                    >

                    <br><br>

                    <button type="submit">

                        Submit

                    </button>

                </form>

                <br>

                <p>
                    Correct:
                    {{ vision_score }}
                </p>

                <p>
                    Attempts:
                    {{ total_attempts }}
                </p>

                <p>
                    Accuracy:
                    {{ accuracy }}%
                </p>

            </div>

            <!-- COLOR TEST -->

            <div class="card">

                <h2>Color Blindness Test</h2>

                <img
                    src="{{ url_for('static',
                    filename=current_color_test['image']) }}"
                    class="plate"
                >

                <br><br>

                <form action="/color_test"
                      method="POST">

                    <input
                        type="text"
                        name="color_answer"
                        required
                    >

                    <br><br>

                    <button type="submit">

                        Submit

                    </button>

                </form>

                <br>

                <p>
                    Correct:
                    {{ color_score }}
                </p>

                <p>
                    Attempts:
                    {{ color_attempts }}
                </p>

                <p>
                    Accuracy:
                    {{ color_accuracy }}%
                </p>

            </div>

            <!-- REPORT -->

            <div class="card">

                <h2>Download Report</h2>

                <a href="/generate_report">

                    <button>

                        Generate PDF Report

                    </button>

                </a>

            </div>

        </div>

    </div>

</div>

<!-- MEDIAPIPE -->

<script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const video =
    document.getElementById('webcam');

const canvas =
    document.getElementById('overlay');

const ctx =
    canvas.getContext('2d');

let blinkCount = 0;

let eyeClosed = false;

let startTime = Date.now();

let lastBlinkTime = Date.now();

let lastFrameTime = performance.now();

let lastVoiceAlert = 0;

// CHART DATA

const blinkData = [];

const attentionData = [];

const fpsData = [];

const labels = [];

// CHARTS

const blinkChart =
    new Chart(

        document.getElementById(
            'blinkChart'
        ),

        {
            type:'line',

            data:{
                labels:labels,

                datasets:[{
                    label:'Blinks',
                    data:blinkData,
                    borderColor:'#00ffee'
                }]
            }
        }

    );

const attentionChart =
    new Chart(

        document.getElementById(
            'attentionChart'
        ),

        {
            type:'line',

            data:{
                labels:labels,

                datasets:[{
                    label:'Attention',
                    data:attentionData,
                    borderColor:'#00ff00'
                }]
            }
        }

    );

const fpsChart =
    new Chart(

        document.getElementById(
            'fpsChart'
        ),

        {
            type:'line',

            data:{
                labels:labels,

                datasets:[{
                    label:'FPS',
                    data:fpsData,
                    borderColor:'#ffff00'
                }]
            }
        }

    );

function updateCharts(attention,fps){

    const time =
        Math.floor(
            (Date.now()-startTime)/1000
        );

    labels.push(time);

    blinkData.push(blinkCount);

    attentionData.push(attention);

    fpsData.push(fps);

    if(labels.length > 20){

        labels.shift();

        blinkData.shift();

        attentionData.shift();

        fpsData.shift();

    }

    blinkChart.update();

    attentionChart.update();

    fpsChart.update();

}

function speak(text){

    const now = Date.now();

    if(now-lastVoiceAlert > 6000){

        const speech =
            new SpeechSynthesisUtterance(text);

        speechSynthesis.speak(speech);

        lastVoiceAlert = now;

    }

}

async function setupCamera(){

    const stream =
        await navigator.mediaDevices.getUserMedia({

            video:{
                width:960,
                height:720
            }

        });

    video.srcObject = stream;

    return new Promise((resolve)=>{

        video.onloadedmetadata = ()=>{

            resolve(video);

        };

    });

}

function euclidean(p1,p2){

    return Math.sqrt(

        Math.pow(p1.x-p2.x,2)+
        Math.pow(p1.y-p2.y,2)

    );

}

function calculateEAR(eye){

    const vertical1 =
        euclidean(eye[1], eye[5]);

    const vertical2 =
        euclidean(eye[2], eye[4]);

    const horizontal =
        euclidean(eye[0], eye[3]);

    return (
        vertical1 + vertical2
    ) / (2.0 * horizontal);

}

// DARK ROOM DETECTION

function detectBrightness(){

    ctx.drawImage(
        video,
        0,
        0,
        canvas.width,
        canvas.height
    );

    const imageData =
        ctx.getImageData(
            0,
            0,
            canvas.width,
            canvas.height
        );

    const data = imageData.data;

    let brightness = 0;

    for(let i=0; i<data.length; i+=4){

        brightness +=
            (
                data[i] +
                data[i+1] +
                data[i+2]
            ) / 3;

    }

    brightness =
        brightness / (data.length/4);

    if(brightness < 60){

        document.getElementById(
            'lightStatus'
        ).innerText =
            "Low Light";

        speak("Low light detected");

    }

    else{

        document.getElementById(
            'lightStatus'
        ).innerText =
            "Normal";

    }

}

function onResults(results){

    const now = performance.now();

    const fps =
        Math.round(
            1000/(now-lastFrameTime)
        );

    lastFrameTime = now;

    document.getElementById(
        'fps'
    ).innerText = fps;

    ctx.clearRect(
        0,
        0,
        canvas.width,
        canvas.height
    );

    let attentionValue = 100;

    detectBrightness();

    if(results.multiFaceLandmarks){

        for(const landmarks of results.multiFaceLandmarks){

            // FACE BOX

            const left =
                landmarks[234];

            const right =
                landmarks[454];

            const top =
                landmarks[10];

            const bottom =
                landmarks[152];

            const x =
                left.x * canvas.width;

            const y =
                top.y * canvas.height;

            const width =
                (right.x-left.x) * canvas.width;

            const height =
                (bottom.y-top.y) * canvas.height;

            ctx.strokeStyle = "#00ffee";

            ctx.lineWidth = 4;

            ctx.strokeRect(
                x,
                y,
                width,
                height
            );

            // EYE BOXES

            const leftEyeX =
                landmarks[33].x * canvas.width;

            const leftEyeY =
                landmarks[159].y * canvas.height;

            ctx.strokeStyle = "#00ff00";

            ctx.strokeRect(
                leftEyeX-25,
                leftEyeY-12,
                50,
                24
            );

            const rightEyeX =
                landmarks[263].x * canvas.width;

            const rightEyeY =
                landmarks[386].y * canvas.height;

            ctx.strokeRect(
                rightEyeX-25,
                rightEyeY-12,
                50,
                24
            );

            // TITLE

            ctx.font = "28px Arial";

            ctx.fillStyle = "#00ffee";

            ctx.fillText(
                "VisionGuard AI",
                20,
                40
            );

            // EYES

            const leftEye = [

                landmarks[33],
                landmarks[160],
                landmarks[158],
                landmarks[133],
                landmarks[153],
                landmarks[144]

            ];

            const rightEye = [

                landmarks[362],
                landmarks[385],
                landmarks[387],
                landmarks[263],
                landmarks[373],
                landmarks[380]

            ];

            const leftEAR =
                calculateEAR(leftEye);

            const rightEAR =
                calculateEAR(rightEye);

            const avgEAR =
                (leftEAR + rightEAR)/2;

            // BLINK

            const blinkThreshold = 0.23;

            const blinkCooldown = 400;

            if(avgEAR < blinkThreshold){

                if(!eyeClosed){

                    eyeClosed = true;

                }

            }

            else{

                if(eyeClosed){

                    const now = Date.now();

                    if(
                        now-lastBlinkTime >
                        blinkCooldown
                    ){

                        blinkCount++;

                        document.getElementById(
                            'blinkCount'
                        ).innerText =
                            blinkCount;

                        lastBlinkTime = now;

                    }

                }

                eyeClosed = false;

            }

            // STRAIN

            if(
                (Date.now()-lastBlinkTime)/1000 > 15
            ){

                document.getElementById(
                    'strainText'
                ).innerText =
                    "⚠ Eye Strain Detected";

                speak("Please blink your eyes");

            }

            else{

                document.getElementById(
                    'strainText'
                ).innerText =
                    "✅ Eyes Normal";

            }

            // DISTANCE

            const faceSize =
                right.x-left.x;

            if(faceSize > 0.35){

                document.getElementById(
                    'distanceText'
                ).innerText =
                    "Too Close";

                speak("You are too close");

            }

            else if(faceSize < 0.12){

                document.getElementById(
                    'distanceText'
                ).innerText =
                    "Too Far";

                speak("Move closer");

            }

            else{

                document.getElementById(
                    'distanceText'
                ).innerText =
                    "Normal";

            }

            // ATTENTION

            const nose =
                landmarks[1];

            if(
                nose.x < 0.35 ||
                nose.x > 0.65
            ){

                attentionValue = 40;

                document.getElementById(
                    'attentionScore'
                ).innerText = 40;

                document.getElementById(
                    'statusText'
                ).innerText =
                    "⚠ Looking Away";

                speak("Please focus on screen");

            }

            else{

                attentionValue = 100;

                document.getElementById(
                    'attentionScore'
                ).innerText = 100;

                document.getElementById(
                    'statusText'
                ).innerText =
                    "🟢 Focused";

            }

            updateCharts(
                attentionValue,
                fps
            );

        }

    }

    document.getElementById(
        'screenTime'
    ).innerText = Math.floor(

        (Date.now()-startTime)/1000

    );

}

async function main(){

    await setupCamera();

    video.play();

    canvas.width = 960;

    canvas.height = 720;

    const faceMesh =
        new FaceMesh({

            locateFile:(file)=>{

                return `https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/${file}`;

            }

        });

    faceMesh.setOptions({

        maxNumFaces:1,

        refineLandmarks:true,

        minDetectionConfidence:0.7,

        minTrackingConfidence:0.7

    });

    faceMesh.onResults(onResults);

    const camera =
        new Camera(video,{

            onFrame: async ()=>{

                await faceMesh.send({

                    image:video

                });

            },

            width:960,
            height:720

        });

    camera.start();

}

main();

</script>

</body>

</html>